body {
  /*font-family: "benton-sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
  padding: 1em;
  font-family: "Noto Sans SC";
  font-weight: 100;
}

h1,
h3 {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 15px 3px 15px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: 0.4rem;
}

.question {
  display: inline-block;
  float: left;
  padding-top: 6%;
}

.plot {
  display: inline-block;
  float: left;
}

.testing {
  box-sizing: border-box;
  padding-right: 5em;
  padding-left: 5em;
}

form {
  line-height: 2em;
}

img {
  width: 560px;
}

button {
  padding: 5px 15px 5px 15px;
}

p {
  font: 20px "Microsoft Yahei";font-weight: bold;
}

label {
  width: 708px;
}