/* for right style*/

/* Prevent text and blocks selection */
input.rightstyle + label ::selection { background-color: rgba(255, 255, 255, 0); }
input.rightstyle + label ::-moz-selection { background-color: rgba(255, 255, 255, 0); }

/* Hide original checkboxes. They are ugly! */
input.rightstyle { display: none !important; }

/*
 * Let's style the input
 * Feel free to work with it as you wish!
 */
input.rightstyle + label
{
	display: table;
	font-size: 20px;
	padding: 10px;
	background-color: #efefef;
	color: #b3b3b3;
	cursor: pointer;

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;


	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

/* Stylish text inside label */

input.rightstyle + label > span.rightstyle-unchecked,
input.rightstyle + label > span.rightstyle-checked
{
	display: inline-block;
	line-height: 25px;
	vertical-align: bottom;
}

/* Stylish icons inside label */

input.rightstyle + label > span.rightstyle-unchecked-image,
input.rightstyle + label > span.rightstyle-checked-image
{
	display: inline-block;
	width: 10px;
	height: 25px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: left center;

	transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-webkit-transition: background-image 0.5s linear;
	-o-transition: background-image 0.5s linear;
}

/* When there's a label, add a little margin to the left */
input.rightstyle + label > span.rightstyle-unchecked-image + span.rightstyle-unchecked,
input.rightstyle + label > span.rightstyle-checked-image + span.rightstyle-checked
{
	margin-left: 1px;
}

/* When not Checked */
input.rightstyle:not(:checked):not([disabled]) + label:hover
{
	background-color: #eaeaea;
	color: #2c2b2b;
}
input.rightstyle:not(:checked) + label > span.rightstyle-checked-image
{
	display: none;
}

input.rightstyle:not(:checked) + label > span.rightstyle-checked
{
	display: none;
}

/* When Checked */
input.rightstyle:checked + label
{
	background-color:rgb(219, 26, 26);
	color: #ffffff;
}

input.rightstyle:checked:not([disabled]) + label:hover
{
	background-color: rgb(33, 151, 53);
}
input.rightstyle:checked + label > span.rightstyle-unchecked-image
{
	display: none;
}

input.rightstyle:checked + label > span.rightstyle-unchecked
{
	display: none;
}

input.rightstyle:checked + label > span.rightstyle-checked
{
	display: none;
}

input.rightstyle.no-label:checked + label > span.rightstyle-checked
{
	display: block;
}

/* When Disabled */
input.rightstyle[disabled] + label
{
	opacity: 0.5;
}

/* Add a background to (un)checked images */
input.rightstyle + label > span.rightstyle-unchecked-image
{
	background-image: url( ../images/input-unchecked.png );
} 

input.rightstyle + label > span.rightstyle-checked-image
{
	background-image: url( ../images/input-checked.png );
}




/* Prevent text and blocks selection */
input.rightstyle + label ::selection { background-color: rgba(255, 255, 255, 0); }
input.rightstyle + label ::-moz-selection { background-color: rgba(255, 255, 255, 0); }

/* Hide original checkboxes. They are ugly! */
input.rightstyle { display: none !important; }

/*
 * Let's style the input
 * Feel free to work with it as you wish!
 */
input.rightstyle + label
{
	display: table;
	font-size: 20px;
	padding: 10px;
	background-color: #efefef;
	color: #b3b3b3;
	cursor: pointer;

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;


	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

/* Stylish text inside label */

input.rightstyle + label > span.rightstyle-unchecked,
input.rightstyle + label > span.rightstyle-checked
{
	display: inline-block;
	line-height: 25px;
	vertical-align: bottom;
}

/* Stylish icons inside label */

input.rightstyle + label > span.rightstyle-unchecked-image,
input.rightstyle + label > span.rightstyle-checked-image
{
	display: inline-block;
	width: 10px;
	height: 25px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: left center;

	transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-webkit-transition: background-image 0.5s linear;
	-o-transition: background-image 0.5s linear;
}
