<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}INSERT TITLE HERE{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/survey.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
  <link rel="stylesheet" href="/static/css/jquery-labelauty.css">
  

  <style>
    ul { list-style-type: none;}
    li { display: inline-block;}
    li { margin: 0px;}
    input.labelauty + label { font: 18px "Microsoft Yahei";}
  </style>

</head>
<body>
    {% block body %}INSERT BODY HERE{% endblock %}

<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/jquery-labelauty.js"></script>

<script>
$(function(){
	$(':input').labelauty();
});
</script>
</center>

<div style="text-align:center;clear:both;">

</div>

</body>
</html>