{% extends 'base.html' %}
{% block title %}Question{% endblock %}

{% block body %}





    <h1 style="line-height: 0;padding-top: 8px;">Test</h1>
    <h3 style="line-height: 0;padding-top: 12px;">{{ next_id }}/15</h3>
    <div class="testing">
        <div class="plot">
            <img src="{{ scatterimg }}">
        </div>
        <div class="question">
            <form action='/test/{{ tester }}/{{ test_id }}/{{ next_id }}' , method="POST" , id="attr">
                {#                <fieldset>#}
                <p style="padding-inline-start: 40px;">{{ question }}</p>
                <ul class="dowebok">
                    {% for choice in choices %}
                        <li style="width: 728px;"><input type="radio" id="{{ choice }}" value="{{ choice }}" name="radio"
                                   data-labelauty="{{ choice }}" onclick="MvcSubmit();" style="width: 728px;"></li>
                        <!-- <label for="{{ choice }}">{{ choice }}</label><br/> -->
                    {% endfor %}
                </ul>
                {#                {% if textbox %}#}
                {#                    <br>#}
                {#                    <section>#}
                {#                        <label for="comments">Comments:</label>#}
                {#                        <br>#}
                {#                        <textarea id="comments" name="comments"></textarea>#}
                {#                    </section>#}
                {#                {% endif %}#}
                {#                </fieldset>#}
                {#                <div style="float: right;">#}
                {#                    <button id="btn_sumbit" type="submit"  >Next</button>#}
                {#                </div>#}
                <textarea id="timer" name="timer" style="VISIBILITY: hidden"></textarea>

            </form>
        </div>
    </div>

    <script>
        var StarTime = new Date().getTime();
        setInterval(function () {
            Retain();
        }, 1)

        function Retain() {
            var NowTime = new Date().getTime();
            //document.querySelectorAll("h6")[0].innerHTML = NowTime - StarTime;
            document.getElementById('timer').value = (NowTime - StarTime) / 1000;
            //document.getElementById('timer').innerHTML = (NowTime - StarTime) / 1000 ;
        }

        function MvcSubmit() {
            var x;
            var obj = document.getElementsByName("radio")
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].checked) {
                    x = i;
                }
            }
            var laArr = document.getElementsByTagName("label");
            var form = document.getElementById('attr');
            for (i = 0; i < laArr.length; i++) {
                if (laArr[i].getAttributeNode("for").value == obj[x].value) {
                    laArr[i].setAttribute("style", " background-color:#3498db;");
                }
            }
            form.submit();
        }
    </script>


{% endblock %}


