{% extends 'base.html' %}
{% block title %}Training{% endblock %}

{% block body %}
    <h1 style="line-height: 0;padding-top: 8px;">Training</h1>
    <h3 style="line-height: 0;padding-top: 12px;">{{ next_id }}/3</h3>
    <div class="testing">
        <div class="plot">
            <img src="{{ scatterimg }}">
        </div>
        <div class="question">
            <form action='/trial/{{ next_id }}' , method="POST">
{#                <fieldset>#}
                    <p style="padding-inline-start: 40px;" >{{ question }}</p>
{#                    <legend>{{ question }}</legend>#}
                    <ul class="dowebok">
                    {% for choice in choices %}
                        <li><input type="radio" id="{{ choice }}" value="{{ choice }}" name="radio" data-labelauty="{{ choice }}" onclick="show_answer();"style="width: 728px;"></li>
                        <!-- <label for="{{ choice }}">{{ choice }}</label><br/> -->
                    {% endfor %}
                    </ul>
{#                    {% if textbox %}#}
{#                        <br>#}
{#                        <section>#}
{#                            <label for="comments">Comments:</label>#}
{#                            <br>#}
{#                            <textarea id="comments" name="comments"></textarea>#}
{#                        </section>#}
{#                    {% endif %}#}
{#                </fieldset>#}
                <div style="float: right;">
                    {% if next_id == 3 %}
                    <button type="reset" style="margin-right: 10px;">Retry</button>
                    {% endif %}
                    <button type="button" id="setdis" onclick="setalldis();" style="VISIBILITY: hidden">DIS</button>
                    <button type="submit">Next</button>
                    
                </div>
            </form>
        </div>
    </div>


    <script>
        function show_answer(){
            var r;
            if("{{ answer }}"=="1"){
                r = "A"
            }
            if("{{ answer }}"=="2"){
                r = "B"
            }
            if("{{ answer }}"=="3"){
                r = "C"
            }
            if("{{ answer }}"=="4"){
                r = "D"
            }
            var chkObjs=null;
            var right_ele;
            var x,y;
            var obj=document.getElementsByName("radio")
            for (var i=0;i<obj.length;i++){
                if(obj[i].checked){
                    chkObjs=obj[i].value;    //获得选中选项
                    x = i;
                }
                if(obj[i].value.substr(0,1)==r){
                    right_ele = obj;         //获得正确选项
                    y = i;
                }
            }
            // for(i=0;i<laArr.length;i++){
            //     laArr[i].setAttribute("style", " background-color: #efefef");

            // }


            if(x == y){
                //alert("right");

                var laArr = document.getElementsByTagName("label");
                for(i=0;i<laArr.length;i++){
                    if(laArr[i].getAttributeNode("for").value==obj[x].value){
                        //alert("get");
                        laArr[i].setAttribute("style", " background-color:rgb(33, 151, 53)");
                       
                    }
                    else {
                        laArr[i].setAttribute("style", " background-color:#efefef;");
                    }

                    laArr[i].disabled = true;
                }

            }
            else{
                // alert("wrong");
                var laArr = document.getElementsByTagName("label");
                for(i=0;i<laArr.length;i++){
                    if(laArr[i].getAttributeNode("for").value==obj[x].value){

                        laArr[i].setAttribute("style", " background-color:rgb(219, 26, 26);");


                    }
                    else if(laArr[i].getAttributeNode("for").value==obj[y].value){

                        laArr[i].setAttribute("style", " background-color:rgb(33, 151, 53);color:#ffffff;");

                    }
                    else {
                        laArr[i].setAttribute("style", " background-color:#efefef;");
                    }
                    
                }
            }

            document.getElementById('setdis').click();

        }

        function setalldis(){
            
            var obj=document.getElementsByName("radio")
            for (var i=0;i<obj.length;i++){
                obj[i].disabled = 'true';
            }
        }
    </script>


{% endblock %}

