{% extends 'base.html' %}
{% block title %}Trial{% endblock %}

{% block body %}
    <form action='/trial/{{ next_id }}' , method="POST">
        <fieldset>
            <legend>{{ question }}</legend>
            {% for choice in choices %}
                <input type="radio" id="{{ choice }}" value="{{ choice }}" name="selection">
                <label for="{{ choice }}">{{ choice }}</label><br/>
            {% endfor %}
            {% if textbox %}
                <br>
                <section>
                    <label for="comments">Comments:</label>
                    <br>
                    <textarea id="comments" name="comments"></textarea>
                </section>
            {% endif %}
            <button type="reset">Retry</button>
            <button type="submit">Next</button>
        </fieldset>
    </form>

{% endblock %}

<script>
    function show_answer(){

    }
</script>